{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>YAY</title>
    <h1> Hey,there </h1>
<<body>
    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
    <h2>I made it!!</h2>
</head>
<body>
<p> Hi there!</p>
<p> It works!</p>
<em>ZUKAAAA</em>
<strong> yayyyy.....we MADE IT</strong>
<p> Zuka is feeling really giddy as she just made her first webite.
She hopes to show off her new skill to everybody. </p>

<p>18.01.2020
mark this day as Zuka made her first website!</p>
<strong> HOORAY! YAY!</strong>
<div>
    <p> We are all currently sitting round around table,typing away on ur computers.</p>
</div>
<a href="https://djangogirls.org"></a>
</body>
</html>