<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAY</title>
    <h1> Hey,there </h1>
    <body>
<p> This is my first website </p>
</body>
    <h2>I made it!!</h2>
</head>
<body>
<p> Hi there!</p>
<p> It works!</p>
<em>ZUKAAAA</em>
<strong> yayyyy.....we MADE IT</strong>
<p> Zuka is feeling really giddy as she just made her first webite.
She hopes to show off her new skill to everybody. </p>

<p>18.01.2020
mark this day as Zuka made her first website!</p>
<strong> HOORAY! YAY!</strong>
<div>
    <p> We are all currently sitting round around table,typing away on ur computers.</p>
</div>
<a href="https://djangogirls.org"></a>
</body>
</html>